$gradationBG: linear-gradient(180deg, rgba(47,45,45,1) 0%, rgba(37,35,35,1) 48%, rgba(24,23,23,1) 100%);
$greenCL: #00DE64;
main{
    margin-top: 70px;
    padding-bottom: 100px;
    width: 99%;
}

/* ローディング画面 */
#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background: $gradationBG;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 9;
    .logo{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin: 220px auto 0 auto;
        font-weight: bold;
        span{
            margin: 0 auto 20px auto;
            color: $greenCL;
            font-weight: bold;
        }
        img{
            margin: 0 auto;
            width: 55px;
            height: 50px;
        }
    }
}
//ローディングアニメーション https://epic-spinners.epicmax.co/#/ここから持ってきたやつ
.fingerprint-spinner, .fingerprint-spinner * {
    box-sizing: border-box;
    margin: 0 auto;
  }

  .fingerprint-spinner {
    height: 64px;
    width: 64px;
    padding: 2px;
    overflow: hidden;
    position: relative;
  }

  .fingerprint-spinner .spinner-ring {
    position: absolute;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: $greenCL;
    animation: fingerprint-spinner-animation 1500ms cubic-bezier(0.680, -0.750, 0.265, 1.750) infinite forwards;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  .fingerprint-spinner .spinner-ring:nth-child(1) {
    height: calc(60px / 9 + 0 * 60px / 9);
    width: calc(60px / 9 + 0 * 60px / 9);
    animation-delay: calc(50ms * 1);
  }

  .fingerprint-spinner .spinner-ring:nth-child(2) {
    height: calc(60px / 9 + 1 * 60px / 9);
    width: calc(60px / 9 + 1 * 60px / 9);
    animation-delay: calc(50ms * 2);
  }

  .fingerprint-spinner .spinner-ring:nth-child(3) {
    height: calc(60px / 9 + 2 * 60px / 9);
    width: calc(60px / 9 + 2 * 60px / 9);
    animation-delay: calc(50ms * 3);
  }

  .fingerprint-spinner .spinner-ring:nth-child(4) {
    height: calc(60px / 9 + 3 * 60px / 9);
    width: calc(60px / 9 + 3 * 60px / 9);
    animation-delay: calc(50ms * 4);
  }

  .fingerprint-spinner .spinner-ring:nth-child(5) {
    height: calc(60px / 9 + 4 * 60px / 9);
    width: calc(60px / 9 + 4 * 60px / 9);
    animation-delay: calc(50ms * 5);
  }

  .fingerprint-spinner .spinner-ring:nth-child(6) {
    height: calc(60px / 9 + 5 * 60px / 9);
    width: calc(60px / 9 + 5 * 60px / 9);
    animation-delay: calc(50ms * 6);
  }

  .fingerprint-spinner .spinner-ring:nth-child(7) {
    height: calc(60px / 9 + 6 * 60px / 9);
    width: calc(60px / 9 + 6 * 60px / 9);
    animation-delay: calc(50ms * 7);
  }

  .fingerprint-spinner .spinner-ring:nth-child(8) {
    height: calc(60px / 9 + 7 * 60px / 9);
    width: calc(60px / 9 + 7 * 60px / 9);
    animation-delay: calc(50ms * 8);
  }

  .fingerprint-spinner .spinner-ring:nth-child(9) {
    height: calc(60px / 9 + 8 * 60px / 9);
    width: calc(60px / 9 + 8 * 60px / 9);
    animation-delay: calc(50ms * 9);
  }

  @keyframes fingerprint-spinner-animation {
    100% {
      transform: rotate( 360deg );
    }
  }

.loaded {
    opacity: 0;
    visibility: hidden;
}
//ローディング画面ここまで

.bigtext{
    margin: 0 2px 0 16px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}
#trackbox{
    margin: 5px;
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 5px 0;
}
.toprank::-webkit-scrollbar{
    height: 10px;
}
.toprank::-webkit-scrollbar-track{
    background-color: none;
}
.toprank::-webkit-scrollbar-thumb{
    background-color: #696969;
    border-radius: 10px;
}
h3{
    font-size: 10px;
    color: #ffffff;
}
.SongNameText{
    font-size: 15px;
    margin: 2px 5px;
    a{
    transition: 0.2s;
    }
}
.SongNameText > a:hover{
  color: #ffffff;
}
.songbox{
    width: 200px;
    margin: 2px 6px;
    background: rgb(47,45,45);
    background: linear-gradient(180deg, rgba(47,45,45,1) 0%, rgba(37,35,35,1) 48%, rgba(24,23,23,1) 100%);
    border-radius: 10px;
    border: solid 2px #323232;
    position: relative;
    transition: 0.3s;
}
.songbox:hover{
  transform: scale(1.05,1.05);
}
.PlaySongBT{
    position: absolute;
    background: none;
    width: auto;
    padding:0;
    margin:0;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
    top: 112px;
    left: 9px;
    transition: 0.3s;
    z-index: 5;
    img{
        width: 40px;
        height: 40px;
    }
}
.PlaySongBT:hover,.StopSongBT:hover{
  transform: translateY(-5px);
  filter: drop-shadow( 0px 2px 3px);
}
.StopSongBT{
    position: absolute;
    background: none;
    width: auto;
    padding:0;
    margin:0;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
    top: 112px;
    left: 9px;
    transition: 0.3s;
    img{
        width: 40px;
        height: 40px;
    }
}
.music_img{
    margin: 5px;
    border-radius: 10px;
    overflow:hidden;
}