$greenCL:#00de64;
main{
    h2{
        text-align: center;
        color: white;
    }
    .music{
        border: solid 1px $greenCL;
        border-radius: 5px;
        display: flex;
        margin: 20px;
        .images{
            img{
                height: 100%;
                border-radius: 10px;
            }
        }
        .contents{
            margin-left: 10px;
        }
    }
}