$greenCL: #00de64;

main{
    text-align: center;
    margin: 70px auto 0 auto;
}
strong{
    color: $greenCL;
}
.box{
    margin-top: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    .titletext{
        font-size: 5vw;
    }
    p{
        margin: 0;
    }
    div{
        p{
            margin: 3px;
        }
    }
    .userbox{
        margin: 40px;
        a{
            margin: 0;
        }
    }
}