@charset "UTF-8";
html {
  min-height: 100%; }

body::-webkit-scrollbar {
  height: 5px;
  background: #252323; }

body::-webkit-scrollbar-thumb {
  background-color: #696969;
  border-radius: 10px; }

body {
  margin: 0 auto;
  height: 100%;
  font-family: 'メイリオ', 'Meiryo', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  background: linear-gradient(180deg, #2f2d2d 0%, #252323 48%, #181717 100%); }

#box1, #box2 {
  margin: 2px;
  background: #2f2d2d;
  background: linear-gradient(180deg, #2f2d2d 0%, #252323 48%, #181717 100%);
  border-radius: 10px;
  height: 100%; }

header {
  margin: 0 auto;
  width: 100%;
  height: 60px;
  background: #252323;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0; }

footer {
  position: fixed;
  bottom: 0px;
  background-color: rgba(0, 222, 100, 0.527);
  width: 100%; }

.titletext, .greentext, .registerBT {
  color: #00de64; }

.titletext {
  margin: 0;
  font-size: 30px; }

a, .Hideblock {
  text-decoration: none;
  color: #00de64; }

.Hideblock {
  visibility: hidden; }

.toplogo {
  white-space: nowrap; }

.toplogo, .searchBox {
  display: flex;
  font-size: 100%;
  margin: auto 2px;
  font-weight: bold; }
  .toplogo span, .searchBox span {
    margin: auto 0; }
  .toplogo img, .searchBox img {
    width: 55px;
    height: 50px; }

.searchBox {
  width: 30%; }
  .searchBox #searchBtn {
    background: none;
    width: auto;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    overflow: visible;
    cursor: pointer; }
    .searchBox #searchBtn img {
      width: 40px;
      height: 40px; }
  .searchBox form {
    display: flex;
    width: 80%; }
    .searchBox form input {
      height: 85%;
      width: 100%;
      margin: auto 0;
      border-radius: 15px;
      font-weight: bold;
      border: none;
      background-color: #eeeeee; }

.MinisearchBox {
  width: 80%;
  display: flex;
  font-size: 100%;
  font-weight: bold; }
  .MinisearchBox span {
    margin: auto 0; }
  .MinisearchBox img {
    width: 55px;
    height: 50px; }
  .MinisearchBox #searchBtn {
    background: none;
    width: auto;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    overflow: visible;
    cursor: pointer; }
    .MinisearchBox #searchBtn img {
      width: 40px;
      height: 40px; }
  .MinisearchBox form {
    display: flex; }
    .MinisearchBox form input {
      height: 85%;
      margin: auto 0;
      border-radius: 10px;
      font-weight: bold;
      border: none;
      background-color: #eeeeee; }

.registerBT, .loginBT, .titletext, footer {
  font-weight: bold; }

.registerBT, .loginBT {
  padding: 10px 40px; }

.registerBT {
  background-color: #252323;
  border: 2px solid #00de64;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.5s; }

.registerBT:hover {
  color: #252323;
  background-color: #eeeeee;
  border-radius: 50px;
  text-decoration: none; }

.loginBT {
  color: #252323;
  background-color: #00de64;
  border: 2px solid #00de64;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.5s; }

.loginBT:hover {
  color: #252323;
  background-color: #eeeeee;
  border-radius: 50px;
  text-decoration: none; }

.humberger {
  height: 100px;
  margin-left: 20px;
  background: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: relative; }

.span-container,
.checkbox {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%); }

.checkbox {
  opacity: 0;
  z-index: 100; }

.span-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  z-index: 90; }

.span-container span {
  width: 100%;
  height: 3px;
  background: #00de64;
  transition: all 250ms ease-out;
  transform-origin: 0 0; }

.checkbox:checked ~ .span-container span:nth-last-child(1) {
  transform: rotate(-45deg) translate(-1px, 0px); }

.checkbox:checked ~ .span-container span:nth-last-child(2) {
  transform: rotate(0deg) scale(0.2, 0.2);
  opacity: 0; }

.checkbox:checked ~ .span-container span:nth-last-child(3) {
  transform: rotate(45deg) translate(0px, -1px); }

.nav-container {
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 65%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  z-index: 50;
  background: linear-gradient(180deg, #2f2d2d 0%, #252323 48%, #181717 100%);
  transition: all 250ms ease-out;
  transform: translateX(-100%); }
  .nav-container .Minilink {
    text-decoration: none;
    color: white;
    font-size: clamp(1.4rem, 2.4vw, 2.2rem);
    font-weight: bold;
    margin: 1rem auto;
    transition: 0.2s; }
  .nav-container .Minilink:hover {
    color: #00de64; }

.checkbox:checked ~ .nav-container {
  transform: translateX(0%); }

@media screen and (min-width: 1000px) {
  .humberger {
    display: none; }

  .nav-container {
    position: relative;
    left: none;
    top: none;
    width: auto;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background: transparent;
    transition: none;
    transform: none; }
    .nav-container a {
      margin-right: 1.5rem; }

  .Hideblock {
    visibility: visible; } }
@media screen and (max-width: 1000px) {
  header .span-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    z-index: 90; }
  header .userbox {
    display: none; }
  header .Miniuserbox {
    display: flex;
    flex-direction: column; }
    header .Miniuserbox a {
      margin: 10px auto; }
  header .searchBox {
    display: none; } }

/*# sourceMappingURL=base.css.map */
