{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/tmp/image.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/tmp/image.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    <header>
        <!-- スマホ用ハンバーガーメニュー -->
        <div class="humberger">
            <input type="checkbox" class="checkbox">
            <div class="span-container">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="nav-container">
                <div class="Miniuserbox">
                    <p class="greentext"> 新規登録またはログイン</p>
                    <a href="{% url 'register'%}" class="registerBT">新規登録</a>
                    <a href="{% url 'login'%}" class="loginBT">ログイン</a>
                </div>
                <div class="MinisearchBox">
                    <button type="button" id="searchBtn">
                        <img src="{% static 'img/tmp/search.png'%}" alt="searchBtn">
                    </button>
                    <form action="{% url 'result' %}">
                        {% if word %}
                            <input type="search" placeholder="検索" name="search-music" value="{{ word }}"></input>
                        {% else %}
                            <input type="search" placeholder="検索" name="search-music" value="{{ word }}"></input>
                        {% endif %}
                    </form>
                </div>
                <a class="Minilink" href="{% url 'index'%}" class="greentext">indexに移動</a>
            </div>
        </div>
          <!-- ここまで -->
        <a href="{% url 'index'%}" class="toplogo">
            <img alt="CWM" src="{% static 'img/tmp/logo.png'%}">
            <span>Connect With Music</span>
        </a>
        <div class="searchBox">
            <button type="button" id="searchBtn">
                <a href="{% url 'search' %}"><img src="{% static 'img/tmp/search.png'%}" alt="searchBtn"></a>
            </button>
            <form action="{% url 'result' %}">
                {% if word %}
                    <input type="search" placeholder="検索" name="search-music" value="{{ word }}"></input>
                {% else %}
                    <input type="search" placeholder="検索" name="search-music" value="{{ word }}"></input>
                {% endif %}
            </form>
        </div>
        <a href="{% url 'index'%}" class="Hideblock">indexに移動</a>
        <div class="userbox">
            <a href="{% url 'register'%}" class="registerBT">新規登録</a>
            <a href="{% url 'login'%}" class="loginBT">ログイン</a>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <small>Copyright © 2023 Spotify AB. All rights reserved.</small>
    </footer>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>