{% extends "cwm/base.html" %}
{% load static %}
{% block title %}music{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/music.css' %}">
<!-- <main class="main1">
    <div class="music">
        <div class="music-content-main">
            <div class="album-image-container">
                <img src="{{ album.images.1.url }}" alt="{{ name }}" class="album-img">
            </div>
            <div class="name-container">
                <div class="music-name">{{ name }}</div>
                <p class="stars"></p>
                <div class="artist-name">アーティスト：{{ artists.0.name }}</div>
                <div class="album-name">アルバム：{{ album.name }}</div>
            </div>
        </div>
        <div class="contents">
            <p style="display:none;" class="spotify-url"><span class="music-text"></span><a href="{{ external_urls.spotify }}" target="_blank"><img src="{% static 'img/tmp/Spotify_Logo_RGB_Green.png' %}" alt="スポティファイの画像"></a></p>
            <div class="utils">
                <button type="button" onclick="play( this, '{{ preview_url }}' )" class="play-btn">
                    <img src="{% static 'img//tmp/play_green.png' %}">
                </button>
                <div class="like">

                </div>
                <div class="share">
                    <p>共有</p>
                </div>
            </div>
        </div>
        <div class="tags">
            
        </div>
    </div>
    <div class="comments">
        <div class="title">
            コメント
        </div>
        <form action="" method="post"></form>
    </div>
</main> -->
<main class="main-test">
    <div id="loading">
        <div class="logo">
            <img alt="CWM" src="{% static 'img/tmp/logo.png'%}">
            <span>Connect With Music</span>
        </div>
        <div class="fingerprint-spinner">
            <div class="spinner-ring"></div>
            <div class="spinner-ring"></div>
            <div class="spinner-ring"></div>
            <div class="spinner-ring"></div>
            <div class="spinner-ring"></div>
            <div class="spinner-ring"></div>
            <div class="spinner-ring"></div>
            <div class="spinner-ring"></div>
            <div class="spinner-ring"></div>
          </div>
    </div>
    <div class="music-main">
        <div id="spotify-iframe"></div>
        <div class="stars"></div>
        <div class="album-name">
            アルバム: <span class="album-title">{{ track_result.album.name }}</span>
        </div>
        <div class="tags">
            
            {% for t in tags %}
                <span class="t">#{{ t }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {% endfor %}
        </div>
    </div>
    <div class="comments">
        {% if comments %}
            {% for u in users %}
                <div class="user-name" style="font-size: 20px; background-color: white;">{{ u.user_name }}</div>
            {% endfor %}
            {% for c in comments %}
                <div class="comment-text" style="font-size: 16px; margin-bottom: 10px; background: white;">{{ c.comment_text | linebreaks}}</div>
            {% endfor %}
        {% else %}
            <h2>コメントはまだありません</h2>
        {% endif %}
    </div>
</main>
<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
<script>
    window.onSpotifyIframeApiReady = ( IFrameAPI ) => {
        const star_img_green = "<img src='{% static 'img/tmp/star_green.png' %}'>";
        const star_img_black = "<img src='{% static 'img/tmp/star_black.png' %}'>";
        for( let i = 0;i < 4;i ++ ){
            document.querySelector( '.stars' ).innerHTML += star_img_green;
        }
        document.querySelector( '.stars' ).innerHTML += star_img_black;
        const elem = document.getElementById( 'spotify-iframe' );
        const options = {
            width: '95%',
            height: '700',
            uri: '{{ track_result.uri }}'
        }
        const callback = ( EmbedController ) => {
            EmbedController.addListener('ready', () => {
                loading.classList.add( 'loaded' );
            }, false );
        }
        IFrameAPI.createController( elem, options, callback );
    }
</script>
<script src="{% static 'js/music.js' %}"></script>
        <!-- <script type="text/javascript">
            const PlayBTimg = "<img src='{% static 'img/tmp/play_green.png' %}'>";
            const StopBTimg = "<img src='{% static 'img/tmp/stop.png' %}'>";
            
            const heart_img_black = "<img src='{% static 'img/tmp/heart_black.png' %}'>"
            const heart_img_green = "<img src='{% static 'img/tmp/heart_green.png' %}'>"
            const demo_tag_start = '<div class="tag">';
            const demo_tag_end = '</div>';
            //試し
            
            document.querySelector( '.like' ).innerHTML = heart_img_green;
            document.querySelector( '.tags' ).innerHTML += demo_tag_start + '<p>#j-pop</p>' + demo_tag_end;
            document.querySelector( '.tags' ).innerHTML += demo_tag_start + '<p>#j-pop</p>' + demo_tag_end;
            document.querySelector( '.tags' ).innerHTML += demo_tag_start + '<p>#j-pop</p>' + demo_tag_end;
            document.querySelector( '.tags' ).innerHTML += demo_tag_start + '<p>#j-pop</p>' + demo_tag_end;
            document.querySelector( '.tags' ).innerHTML += demo_tag_start + '<p>#j-pop</p>' + demo_tag_end;
            /* document.querySelector( '.music' ).style.height = window.screen.height  - 282  + 'px'; */
            document.querySelector( 'body' ).style.height = window.screen.height - 221 + 'px';
            document.querySelector( '.music' ).style.width = window.screen.width / 2 - 50 + 'px';
        </script>
         -->
{% endblock %}